extends layout

block content
  h1 Welcome to the lobby
  p Click on a game below to join
  hr
  ul.game-list
    each g in games
      li.game
        form(method="GET", action="/lobby/join")
          label= g.name
          br
          label= g.id
          br
          button(name="game", type="submit", value="#{g.id}") Join
  a(href="/lobby/create")
    button Start your own game!
